{% extends 'reporte_generic.html' %}

{% block head_css_page %}
{{ block.super }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
{% endblock head_css_page %}

{% block inner_content %}
<hr>
<div class="container">  
  <div id="resumen-nacional"><h3 class="py-4">Resumen a Nivel Nacional</h3></div>
  {% block resumen-nacional %}
  {% endblock resumen-nacional %}
</div>


<hr>
<div class="container">
  <div id="resumen-regional"><h3 class="py-4">Resumen a Nivel Regional</h3></div>
  <div class='row'>
    <div class='col-12'>
      <select id='region-selector' class="selectpicker" multiple data-live-search="true" 
        title="Seleccione una o varias regiones" data-header="Seleccione una o varias regiones" 
        data-style="btn-primary" data-width=50% data-actions-box="true"> 

        {% for region in REGIONES %}
          <option>{{region.nombre}}</option>    
        {% endfor %}
      </select>
    </div>    
  </div>
  <div class='row'>
    <div class='col-12'>
      <div id='no-region-selected-msg'>
        <svg width="5em" height="5em" viewBox="0 0 16 16" class="bi bi-arrow-up-square" fill="darkgray" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
          <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
        </svg>
        <span>Ninguna región seleccionada</span>
      </div>
    </div>
  </div>  
</div>
<div class='bottom-spacer'></div>
<div class='container'>
  {% for region in REGIONES %}    
    <div class='row' id='region-{{region.id}}' name='{{region.nombre}}'>
    </div>    
  {% endfor %}
</div>

{% endblock inner_content %}

{% block footer_javascript_page %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

  {{ REGIONES|json_script:"regiones-data" }}

  <script>
    // Load regiones as JSON object 
    var regiones_data = JSON.parse(document.getElementById('regiones-data').textContent);

    // here you can remove particular options if required
    //regiones_data.splice(15,1);

    function changeRegionIframeVisibility(regionArray, mode){
      // regionArray: array of region data structures to modify
      // mode: possible values "on", "off", "toggle"
      
      for (region of regionArray){        
        let region_div_element = $("#region-" + region.id.toString());

        let current_state_is_off = (region_div_element.children().length === 0);

        let turnOn = false;
        let turnOff = false;

        if (mode == "on" && current_state_is_off) {
          turnOn = true;
        }
        else if (mode == "off" && !current_state_is_off) {
          turnOff = true;
        }
        else if (mode == "toggle" && current_state_is_off) {
          turnOn = true;
        }
        else if (mode == "toggle" && !current_state_is_off) {
          // turn off
          turnOff = true;
        }

        if (turnOn) {
          let inner_html = `
          {% block region-detail %}          
          {% endblock region-detail %}
          `;          
          region_div_element.append(inner_html);
        }

        if (turnOff) {
          region_div_element.empty();
        }
      }
    }

    $('#region-selector').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
      let regionSelectorElement = $('#region-selector');
      let selectedItems = regionSelectorElement.val();

      if (clickedIndex === null) {        
        if (selectedItems.length > 0) {
          // Selected all
          console.log("Selected all");
          changeRegionIframeVisibility(regiones_data, "on");          
          $('#no-region-selected-msg').addClass('d-none'); // hide "no region selected"
        } 
        else {
          // De-selected all
          console.log("De-selected all");
          changeRegionIframeVisibility(regiones_data, "off");
          $('#no-region-selected-msg').removeClass('d-none'); // show "no region selected"
        }        
      }
      else {
        // clicked on single item - toggle state
        console.log("Toggle " + regiones_data[clickedIndex].nombre);
        changeRegionIframeVisibility([regiones_data[clickedIndex]], "toggle");
        
        if (selectedItems.length > 0)
          $('#no-region-selected-msg').addClass('d-none'); // hide "no region selected"
        else
          $('#no-region-selected-msg').removeClass('d-none'); // show "no region selected"
      }      
    });
  </script> 
{% endblock footer_javascript_page %}