{% extends 'base.html' %}
{% load tz %}

{% block title %}Equipo de OpenCovid-Perú{% endblock title %}

{% block head_css_page %}
<link href="{{ STATIC_URL }}home/css/index.css" rel="stylesheet" media="screen">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock head_css_page %}

{% block og_title %}Equipo de OpenCovid-Perú{% endblock og_title %}
{% block og_image %}{{ STATIC_URL }}home/img/opencovid-og-image-equipo.jpeg{% endblock og_image %}
{% block og_description%}Lista de voluntarios en OpenCovid-Perú{% endblock og_description %}

{% block content %}
<main role="main">

    <section class="jumbotron text-center svg-background">
      <div class="container">
        <h1>Equipo</h1>
        {% comment %} <p class="lead text-muted">Voluntarios</p> {% endcomment %}
      </div>
    </section>

<div class="album py-2 bg-light">
      <div class="container">  
        <div class="row mb-4">
          <div class="col-md-4">
            <div class="card shadow-sm">            
              <img src="{{ STATIC_URL }}home/img/victor.jpeg"  height="280" style="object-fit: cover;">
              <div class="card-body">
                <h5 class="card-title">Victor Sanchez Ch.</h5>
                <p>Data Scientist/Ingeniero Informático</p>
                <p>Experiencia en Business Intelligence y Business Analytics. Francia, Chile y Perú</p>         
                <div class="social text-center">
                    <a href="https://twitter.com/vicxon586"><i class="fa fa-twitter fa-lg"></i></a>
                    <a href="https://www.linkedin.com/in/victor-sanchezch/"><i class="fa fa-linkedin fa-lg"></i></a>
                </div> 
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card shadow-sm">
              <img src="{{ STATIC_URL }}home/img/patrick.jpg"  height="280" style="object-fit: cover;">
              <div class="card-body">
                <h5 class="card-title">Patrick Wieghardt</h5>
                <p>Biólogo Computacional</p>   
                <p>Emprendedor en el rubro de salud en Perú, EEUU, Alemania y Suiza</p>
                <div class="social text-center">
                    <a href="https://twitter.com/tagacat"><i class="fa fa-twitter fa-lg"></i></a>
                    <a href="https://www.linkedin.com/in/wieghardt/"><i class="fa fa-linkedin fa-lg"></i></a>
                </div> 
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card shadow-sm">
              <img src="{{ STATIC_URL }}home/img/juancarlos.jpg"  height="280" style="object-fit: cover;">
              <div class="card-body">
                <h5 class="card-title">Juan Carlos Carbajal S.</h5>
                <p>Ingeniero Electrónico</p>   
                <p>Field Support Engineer at Avery Dennison Chile/Perú/Ecuador/Argentina</p>
                <div class="social text-center">
                    <a href="https://twitter.com/juank23_7"><i class="fa fa-twitter fa-lg"></i></a>
                    <a href="https://www.linkedin.com/in/juan-carlos-carbajal-soto-9675699/"><i class="fa fa-linkedin fa-lg"></i></a>
                </div> 
              </div>
            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-md-4">
            <div class="card shadow-sm">
              <img src="{{ STATIC_URL }}home/img/rodrigo.jpg"  height="280" style="object-fit: cover;">
              <div class="card-body">
                <h5 class="card-title">Rodrigo Gabriel Torres T.</h5>
                <p>Diseñador de dispositivos para radiofrecuencia ultra-wideband</p>   
                <p>Experiencia en tratamiento de datos y aprendizaje automático</p>
                <div class="social text-center">
                    <a href="https://twitter.com/RoTorresT"><i class="fa fa-twitter fa-lg"></i></a>
                    <a href="https://www.linkedin.com/in/rotorrest/"><i class="fa fa-linkedin fa-lg"></i></a>
                </div> 
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card shadow-sm">
              <img src="{{ STATIC_URL }}home/img/manuel.jpg"  height="280" style="object-fit: cover;">
              <div class="card-body">
                <h5 class="card-title">Manuel Bellido</h5>
                <p>Computer Scientist</p>   
                <p>Software Engineer at Google</p>
                <div class="social text-center">
                    <a href="https://twitter.com/manubellido"><i class="fa fa-twitter fa-lg"></i></a>
                    <a href="https://www.linkedin.com/in/manuelbellido/"><i class="fa fa-linkedin fa-lg"></i></a>                    
                </div> 
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card shadow-sm">
              <img src="{{ STATIC_URL }}home/img/ragi.jpeg"  height="280" style="object-fit: cover;">
              <div class="card-body">
                <h5 class="card-title">Ragi Yaser Burhum Espinoza</h5>
                <p>Computer Scientist</p>   
                <p>CEO / Geospatial Engineer at AmigoCloud Inc.</p>
                <div class="social text-center">
                    <a href="https://twitter.com/rburhum"><i class="fa fa-twitter fa-lg"></i></a>
                    <a href="https://www.linkedin.com/in/rburhum/"><i class="fa fa-linkedin fa-lg"></i></a>
                    <a href="https://www.facebook.com/Ragi-Yaser-Burhum-102188808201478"><i class="fa fa-facebook fa-lg"></i></a>
                </div> 
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  
  </main>
{% endblock content %}