#toc_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;

}

#toc_container p{
    text-align: center;
    font-weight: 700;
}

#toc_container ul li{    
    /*list-style: decimal-leading-zero none none !important;*/
    list-style-type: square;
    list-style-position: outside;
}

/* region selector styling */

.bottom-spacer{
    margin-bottom: 2em;
}

#no-region-selected-msg{
    margin-top: 2em;
    margin-left: 2em;
    padding: 1em;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    border: 2px solid gray;
    border-style: dashed;
    border-radius: 4px;
}

#no-region-selected-msg span{
    padding-top: 1em;
    display: block;
    color: gray;
}