
/* jumbotron header */
.opencovid-jumbotron {  
  background-size: cover;
  background-image: 
    linear-gradient(
      rgba(221, 3, 3, 0.5),
      rgba(221, 3, 3, 0.5)
    ),
    url("../img/virus-background.png");
  
  padding-top: 14em;
  padding-bottom: 12em;
}

.opencovid-title{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-transform: uppercase;  
}

/* adjust fonts based on size */
@media screen and (min-width: 769px) {
  .opencovid-title {
    font-size: 5rem;
  }
}

@media screen and (max-width: 768) {
  .opencovid-title {
    font-size: 2.4rem;
  }
}

.opencovid-desc{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 320;
  font-size: 1.3rem;
}

/* card formatting */

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.card-img-caption {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}
  
.card-img-caption .card-img-top {
  z-index: 0;
}
    
.card-img-caption .card-text-container {
  position: absolute;
  text-align: center;
  margin-top: 100px; /* height of card is set to 224px everywhere */
  left: 0;
  right: 0;  
}

.card-img-caption .card-text-container .card-text {    
  background-color: rgba(110,110,110, 0.85);
  padding: 8px;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  z-index: 1;
}

/* flip counter styling */

.tick {
  font-size: 2.5em; 
  white-space:nowrap; 
  font-family:arial,sans-serif;
}

.tick-char {
  width:0.5em;
}

.tick-text-inline {
  display:inline-block;text-align:center;min-width:1em;
}

.tick-text-inline+.tick-text-inline {
  margin-left:-.325em;
}

.custom-flip {
  /* rounder corners */
  /* increase border radius */
  border-radius:.3125em;

  /* increase spacing between letters */
  letter-spacing: .5em;
  text-indent: .5em;
}

/* black on white colors */
.custom-flip .tick-flip-panel {
  color: #555;
  background-color: #fafafa;
}